@import "tailwindcss";

@theme {
  --color-csf-dark: #021b1a;
  --color-csf-teal: #03624c;
  --color-csf-mint: #2cc295;
  --color-csf-bright: #00df81;
  --color-csf-light: #f1f7f6;
}

body {
  background-color: var(--color-csf-light);
  color: var(--color-csf-dark);
}
